
.body{
 background-color: rgb(34, 33, 33);
  
 
}
.header{
background-color: rgb(0, 0, 0);
display: flex;
color: rgb(255, 255, 255);
justify-content: space-between;
align-items: center;
padding-left: 20px;
padding-right: 20px;
border-radius: 30px;
margin-left: 100px;
margin-right: 100px;
    
  }
  .header .ul{
    display: flex;
     
    margin-left: 40px;
    list-style: none;
   
    
  }
  .header .li{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding-left: 20px;
     
  }
  .li a{
    font-family: Arial, Helvetica, sans-serif;
     color: white;
    text-decoration: none;
    cursor: pointer;
    
    
  }
  .logo{
    height: 80px;
    width: 140px;
    padding-top: 17px;
    padding-left: 2px;
    border-radius: 20px;
    border: solid 3px;
    color: rgba(155, 87, 4, 0.993);
  }
  .strong{
    border: solid rgba(155, 87, 4, 0.993);
    font-size: 20px;
    color: beige;
  }

.container{
  background-color: black;
  width: 100%;
    
 
}
.container .imagem{
 
 height: 500px;
 margin-right: 30px;
 width: 500px;
}
.pai{
  display: flex;
   
  color: white;
  margin-left: 190px;
  margin-right: 190px; 
 
}
.Introd{
  color: rgb(133, 85, 22);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.intro{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 margin-left: 25px;
}
.butao{
  color: white;
  background-color: rgb(3, 83, 189);
  border: 10px solid rgb(3, 83, 189);;
  border-radius: 30px;
  
}
.intro1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 25px;
  margin-top: 100px;
  font-weight: bold;
  font-size: 19px;
}
.figure{
  border: 3px solid rgba(102, 51, 153, 0.692);
  border-radius: 12px;
  background-color: rgb(221, 221, 213);
  color: black;
  margin-left: 40px;
   
}

.img{
  height: 200px;
  width: 200px;
  border-radius: 90px;
  margin-left: 10px;
  border: solid red 3px;
   
}
.img1 {
  height: 200px;
  width: 200px;
  border-radius: 90px;
  margin-left:1rem;
  border: solid red 3px;
  
}
 .carro{
  margin-left: 120px;
  margin-right: 120px;
 }
 .carousel-item h1{
  color: rgba(155, 87, 4, 0.993);
   
 }
 .carousel-item p{
  color: black;
  font-weight: bold;
 }
 figcaption{
  padding-left: 15px;
 }
.hr{

  border: 2px solid rgba(3, 140, 145, 0.356);
}
